.App {
  text-align: start;
  font-family: 'UTM Helve','Verdana', 'Arial', 'Helvetica', 'sans-serif';
  color: white;
  font-size: 16px;
  overflow: auto;
}

/* NavBar */
nav {

  background-color: #7de279;
  color: #251811;
  margin: 20px auto;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 6px 8px;
  display: flex;
  justify-content: space-between;
}

.PitchLogo {  
  margin-left: 10px;
  margin-top: 2px;
}

.SocialLogo {
  margin-top: 6%;
  height: 90%;
  margin-right: 10%;
}

.connect-button {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  background-color: #ff6b6b;
  box-shadow: 3px 4px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0px 2.5px;
}

@media (max-width:800px) {
  .connect-button  {  
    font-size: 0.6rem;
    margin-left: 0.5rem;
    height: 2rem;
  }
}

button:hover{background-color:orange;}

.please-connect {
  margin: auto;
 display: flex;
 justify-content: center;
 color: black;
 border: 2px solid black;
 width: max-content;
 height: 40px;
 border-radius: 10px;
 background-color: white;
 box-shadow: 3px 4px;
 text-align: center;
 padding: 0 1rem;
}

/* MAIN */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
   "rectangle rectangle box1 box1"
   "rectangle rectangle box1 box1"
   "rectangle rectangle box2 box2"
   "rectangle rectangle box2 box2"
   "rectangle rectangle box3 box4"
   "rectangle rectangle box3 box4"
  ;
  grid-gap: 2rem;
  padding: 2rem 5rem;
  height: calc(100vh - 10rem);
}

@media (max-width:1600px) {
  .grid {  
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media (max-width:650px) {
  .grid {  
    padding: 2px;
  }
}

@media (min-width:1700px) {
  .grid {  
    max-width: 3000px;
    margin: auto;
  }
}

.rectangle {
  grid-row-start: span 3;
  border: 2px solid black;
  grid-area: rectangle;
  position: relative;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  overflow-x: hidden;
  overflow-y: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem 1rem;
  gap: 1rem;
  align-content: flex-start; 
}

/* .rectangle iframe:first-of-type {
  margin-top: -1rem;
} */

.wrap-text{
  width: 100%;
}

.collections {
  color: black;
  border: 2px solid black;
  width: max-content;
  height: 40px;
  border-radius: 10px;
  background-color: #fdfd00;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.collection-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 3px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asset-image {
  width: 10rem;
  height: 10rem;
  object-fit:fill;
  border: 2px black solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 12px;
}

.nft-name-block{
  display: flex;
  flex-direction: column;
  width: 9rem; 
  overflow-wrap: break-word;
}


.style-name {
  margin-bottom: 3px;
}

.squareone {
  border: 2px solid black;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box1;
}

.benefit-alerts {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: max-content;
  height: 40px;
  border-radius: 10px;
  background-color: #00eaff;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.squaretwo {
  border: 2px solid black;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box2;
}

.message {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: max-content;
  height: 40px;
  border-radius: 10px;
  background-color: #ff6b6b;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.squarethree {
  border: 2px solid black;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box3;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start; 
  align-items: center;

}

.floor-price {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: max-content;
  height: 40px;
  border-radius: 10px;
  background-color: #FFA500;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.fp-list {
  width: 100vw;
  padding: 0rem 1rem;

}

.collection-watchlist {

  margin: 10px;
  }

  .floor-price-box {
  background-color: white;
  text-align: center;
  box-shadow: 3px 4px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
  }

.col1 {
  font-size: 0.9rem;
}

.col2 {
  font-size: 0.9rem;
}


.squarefour {
  border: 2px solid black;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box4;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;

}

.sport-news {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: auto;
  border-radius: 10px;
  background-color: #5a5afb;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem 0.5rem;
}

.twitter-padding{
  height:calc(100% - 5rem);
}

.twitter-wrapper{
  height:100%

}

.twitter-timeline {
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px;

} 

@media (max-width:1600px) {

  .twitter-timeline{
    max-height: 400px;
  
  }
}

.paragraph {
  margin-left: 2rem;
  color: aliceblue;
}









/* array vs object */
/* use span for text */
/* semantics */
