.App {
  text-align: start;
  font-family: 'UTM Helve','Verdana', 'Arial', 'Helvetica', 'sans-serif';
  color: white;
  font-size: 16px;
  overflow: auto;
}

/* NavBar */
.mint-announcement {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: large;
  margin-top: 1rem;
}

nav {

  background-color: #7de279;
  color: #251811;
  margin: 20px auto;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 6px 8px;
  display: flex;
  justify-content: space-between;
}

.PitchLogo {  
  margin-left: 10px;
  margin-top: 2px;
}

.SocialLogo {
  margin-top: 6%;
  height: 90%;
  margin-right: 10%;
}

.connect-button {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  background-color: #ff6b6b;
  box-shadow: 3px 4px;
  text-align: center;
  align-items: center;
  margin: auto;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
  padding: 1px 5.5px;
}

@media (max-width:800px) {
  .connect-button  {  
    font-size: 0.6rem;
    /* margin-left: 0.5rem; */
    height: 2rem;
  }
}

button:hover{background-color:orange;}

.please-connect {
  margin: auto;
 display: flex;
 justify-content: center;
 color: black;
 border: 2px solid black;
 width: max-content;
 height: 40px;
 border-radius: 10px;
 background-color: white;
 box-shadow: 3px 4px;
 text-align: center;
 padding: 0 1rem;
}

/* MAIN */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
   "rectangle rectangle box1 box1 box4"
   "rectangle rectangle box1 box1 box4"
   "rectangle rectangle box2 box2 box4"
   "rectangle rectangle box2 box2 box4"
   "rectangle rectangle box3 box3 box4"
   "rectangle rectangle box3 box3 box4"
  ;
  grid-gap: 2rem;
  padding: 2rem 5rem;
  height: calc(100vh - 10rem);
}

@media (max-width:1600px) {
  .grid {  
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media (max-width:650px) {
  .grid {  
    padding: 2px;
  }
}

@media (min-width:1700px) {
  .grid {  
    max-width: 3000px;
    margin: auto;
  }
}

.rectangle {
  grid-row-start: span 3;
  border: 2px solid black;
  grid-area: rectangle;
  position: relative;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  overflow-x: hidden;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  padding: 0 1rem 1rem;
  gap: 1rem;
  /* background-color: hsl(118, 19%, 64%); */
  /* align-content: flex-start;  */
}

/* .rectangle iframe:first-of-type {
  margin-top: -1rem;
} */

.wrap-text{
  width: 100%;
}

.collections {
  color: black;
  border: 2px solid black;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background-color: #fdfd00;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.squareone {
  border: 2px solid black;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box1;
}

.benefit-alerts {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background-color: #00eaff;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.squaretwo {
  border: 2px solid black;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box2;
}

.message {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background-color: #ff6b6b;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}

.squarethree {
  border: 2px solid black;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box3;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start; 
  align-items: center;

}

.floor-price {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background-color: #FFA500;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem;
}




.squarefour {
  border: 2px solid black;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 6px 8px;
  color: #251811;
  grid-area: box4;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;

}

.sport-news {
  margin-left: 1.5rem;
  color: black;
  border: 2px solid black;
  margin: 20px;
  width: auto;
  border-radius: 10px;
  background-color: #5a5afb;
  box-shadow: 3px 4px;
  text-align: center;
  padding: 0 1rem 0.5rem;
}

.twitter-wrapper{
  height:100%;
  overflow-y: auto;
}

iframe {
  border: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

@media (max-width:1600px) {
  iframe {  
    min-height: 800px;
  }
}

@media (max-width:750px) {
  iframe {  
    width: 23.2rem;
  }
}

.paragraph {
  margin-left: 2rem;
  color: aliceblue;
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background:  #49a759;
  border-radius: 10px;
  margin-block: .5em;
 
}

::-webkit-scrollbar-thumb {
  background:#7de279;
  border-radius: 10px;
 
}

::-webkit-scrollbar-thumb:hover {
  background:#7de279;
  border-radius: 10px;
 
}







/* array vs object */
/* use span for text */
/* semantics */
